/* 웹폰트 */

@charset "utf-8";
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/NanumGothic.eot');
    src: url('../fonts/NanumGothic.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumGothic.woff2') format('woff2'), url('../fonts/NanumGothic.woff') format('woff'), url('../fonts/NanumGothic.ttf') format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/NanumGothic-Bold.eot');
    src: url('../fonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumGothic-Bold.woff2') format('woff2'), url('../fonts/NanumGothic-Bold.woff') format('woff'), url('../fonts/NanumGothic-Bold.ttf') format('truetype');
}


/* 본고딕 */

@font-face {
    font-family: 'ntk';
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/notokr-demilight.eot");
    src: url("../fonts/notokr-demilight.eot?#iefix") format('embedded-opentype'), url("../fonts/notokr-demilight.woff2") format('woff2'), url("../fonts/notokr-demilight.woff") format('woff');
}


/* reset */

body {
    position: relative;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Nanum Gothic', '나눔고딕', "돋움", dotum, sans-serif;
}

.btn-line_big {
    min-width: 180px;
    background: #fff;
    height: 54px;
    line-height: 30px;
    color: #55bc7e;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    padding: 0 10px;
    border: 1px solid #55bc7e
}

.btn-line2_big {
    min-width: 180px;
    background: #fff;
    height: 54px;
    line-height: 30px;
    color: #999999;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    padding: 0 10px;
    border: 1px solid #999999
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
    margin: 0;
    padding: 0
}

img,
fieldset,
iframe {
    border: 0 none
}

dl,
ul,
ol,
menu,
li {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

article,
aside,
footer,
header,
hgroup,
nav,
section,
menu {
    display: block;
    padding: 0;
    margin: 0;
}

img,
input,
button,
select,
textarea {
    vertical-align: middle;
}

button {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: none;
    background: 0;
    vertical-align: middle;
    cursor: pointer;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
}

label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-weight: normal;
    margin: 0;
}

caption {
    position: static;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
}

hr,
legend,
caption {
    overflow: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
    height: 0;
    font-size: 0;
    line-height: 0;
    padding: 0;
}

em,
i,
address {
    font-style: normal;
}

a,
a:link,
a:visited {
    color: #222222;
    text-decoration: none;
}

a:hover {
    color: #339966;
    text-decoration: underline;
    text-decoration: none;
}

a:active {
    color: #006600;
    text-decoration: none;
}


/* common */

.hidden {
    display: block;
    overflow: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.none {
    display: none;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.clearfix {
    display: block;
    clear: both;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.skip {
    overflow: hidden;
    position: absolute;
    height: 0;
    width: 0;
    background: transparent !important;
    font-size: 0 !important;
}


/* layout */

.wrap,
#header,
#container,
#contents,
#footer {
    position: relative;
}

html,
body,
.wrap {
    height: 100%;
    width: 100%;
}


/* contents */

.contents {
    position: relative;
    width: 1200px;
    padding: 0 0 100px;
    margin: 0 auto;
}

.tit {
    padding-left: 0;
    margin: 54px 0 30px;
    background: none;
    color: #55bc7e;
}

.tit_ty3 {
    padding: 11px 18px 10px;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    line-height: 28px;
    border-bottom: 1px solid #e5e5e5;
}

.tit_ty4 {
    padding: 11px 18px 10px;
    font-size: 18px;
    color: #333;
    font-weight: 600;
    line-height: 28px;
    border: 1px solid #ccc;
    border-top: 1px solid #55bc7e;
}


/* btns */

button {
    font-family: 'Nanum Gothic';
    font-size: 0;
    vertical-align: top;
    border: 0;
}

.text-xs-right .btn-reset,
.text-xs-right .btn-submit {
    margin-left: 4px;
}

.btn-line {
    min-width: 80px;
    background: #fff;
    height: 44px;
    line-height: 18px;
    color: #55bc7e;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #55bc7e
}

.btn-default {
    min-width: 180px;
    background: #55bc7e;
    height: 54px;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    padding: 0 10px;
}

.btn-gray {
    min-width: 180px;
    background-color: #999999;
    height: 54px;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    padding: 0 10px;
}

.btn-select {
    background-color: #0082c9;
    border-color: #006fab;
    font-size: 16px;
    font-weight: bold;
    min-width: 138px;
    color: #fff;
    border-radius: 2px;
}

.btn-sm {
    min-width: 28px;
    background: #55bc7e;
    height: 30px;
    line-height: 26px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    padding: 0 15px;
}

.btn-sm2-green {
    display: inline-block;
    min-width: 28px;
    height: 30px;
    padding: 0 14px;
    line-height: 26px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    background: #55bc7e;
    color: #fff;
    vertical-align: middle;
    border-radius: 3px;
    border: 1px solid #999999;
}

.btn-sm2 {
    display: inline-block;
    min-width: 28px;
    height: 30px;
    padding: 0 14px;
    line-height: 26px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    background: #fff;
    color: #333333;
    vertical-align: middle;
    border-radius: 3px;
    border: 1px solid #999999;
}

.btn-sm3 {
    min-width: 30px;
    background: #525863;
    height: 35px;
    line-height: 26px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    padding: 0 20px;
}

.btn-sm4 {
    display: inline-block;
    min-width: 30px;
    height: 30px;
    padding: 0 10px;
    line-height: 26px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    background: #fff;
    color: #55bc7e;
    vertical-align: middle;
    border-radius: 3px;
    border: 1px solid #55bc7e;
}

.btn_center {
    margin: 40px 0;
    text-align: center;
}


/* 검색 */

.search {
    border: 1px solid #ededed;
    background: #f8f8f8;
    text-align: center;
    padding: 10px 0;
}


/* link */

a.link_ty1 {
    color: #0066cc;
    text-decoration: underline;
}


/* data_box */

.data_box {
    background: #fbfbfb;
    border: 1px solid #ccc;
    border-top: none;
    padding: 20px;
    overflow-y: scroll;
    font-size: 14px;
    color: #555555;
    line-height: 1.5;
}

.data_box li {
    padding-left: 10px;
    text-indent: -10px;
}

.agree_box {
    border: none;
    padding: 14px 0;
    font-size: 15px;
    color: #555555;
    text-align: right
}

.agree_box input {
    vertical-align: middle;
    margin: 0 5px 0 0;
}

.agree_box label {
    margin: 0;
}


/* 간격 */

.mt0 {
    margin-top: 0px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt25 {
    margin-top: 25px !important;
}

.mt28 {
    margin-top: 28px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt35 {
    margin-top: 35px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mt60 {
    margin-top: 60px !important;
}

.mt100 {
    margin-top: 100px !important;
}

.mr4 {
    margin-right: 4px !important;
}

.mr8 {
    margin-right: 8px !important;
}

.mr12 {
    margin-right: 12px !important;
}

.mr16 {
    margin-right: 16px !important;
}

.mr4 {
    margin-right: 4px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr46 {
    margin-right: 46px !important;
}

.ml4 {
    margin-left: 4px !important;
}


/* form */

.inp_ty1 {
    display: inline-block;
    border: none;
    line-height: 27px;
    color: #999999;
    font-size: 18px;
    padding: 0 20px 13px 20px;
    vertical-align: middle
}

.inp_ty2 {
    display: inline-block;
    width: 100%;
    min-width: auto;
    border: 1px solid #cccccc;
    line-height: 33px;
    height: 33px;
    color: #333;
    font-size: 14px;
    padding: 0 10px;
    vertical-align: middle;
    border-radius: 2px;
}

.inp_ty2[disabled] {
    background: #f3f3f3;
    color: #999;
}

.inp_ty3 {
    display: inline-block;
    width: 100%;
    min-width: auto;
    border: 1px solid #cccccc;
    line-height: 26px;
    height: 26px;
    color: #333;
    font-size: 14px;
    padding: 0 10px;
    vertical-align: middle;
    border-radius: 2px;
}

.inp_ty4 {
    display: inline-block;
    width: 100%;
    min-width: auto;
    border: 1px solid #cccccc;
    line-height: 40px;
    height: 40px;
    color: #333;
    font-size: 14px;
    padding: 0 10px;
    vertical-align: middle;
    border-radius: 2px;
}

.sel_ty1 {
    border: 1px solid #dfdfdf;
    padding: 5px 10px 5px 14px;
    font-size: 15px;
    color: #333;
}

.sel_ty2 {
    border: 1px solid #cccccc;
    padding: 3px 0 0;
    font-size: 14px;
    color: #333;
    line-height: 26px;
    height: 26px;
}

.sel_ty3 {
    border: 1px solid #cccccc;
    padding: 2px 0 0;
    font-size: 14px;
    color: #333;
    line-height: 33px;
    height: 33px;
}

.check_ty1[type="checkbox"] {
    margin: 0;
    vertical-align: middle;
}

.textarea_ty1 {
    width: 100%;
    border: 1px solid #cccccc;
    line-height: 33px;
    color: #333;
    font-size: 14px;
    padding: 0 10px;
    vertical-align: middle;
    border-radius: 2px;
}


/* table */

.tbl_01 {
    width: 100%;
    line-height: 1.6;
    border-top: 2px solid #55bc7e;
    border-bottom: 1px solid #e3e3e3
}

.tbl_01 caption {
    position: static;
}

.tbl_01 thead th {
    background: #fbfbfb;
    border: 1px solid #e3e3e3;
    border-top: none;
    font-size: 16px;
    color: #333;
    padding: 14px 0;
    text-align: center;
}

.tbl_01 td {
    background: #ffffff;
    border: 1px solid #e3e3e3;
    border-top: none;
    font-size: 13px;
    color: #555;
    padding: 10px 15px;
    line-height: 1.6;
}

.tbl_01 .cnt {
    text-align: center
}

.tbl_member {
    width: 100%;
    line-height: 1.6;
    border-top: 2px solid #55bc7e;
    border-bottom: 1px solid #e3e3e3
}

.tbl_member caption {
    position: static;
}

.tbl_member th {
    background: #fbfbfb;
    border: 1px solid #e3e3e3;
    border-top: none;
    font-size: 16px;
    color: #333;
    padding: 14px 20px 14px 40px;
    text-align: left;
}

.tbl_member td {
    background: #ffffff;
    border: 1px solid #e3e3e3;
    border-top: none;
    font-size: 13px;
    color: #555;
    padding: 9px 20px 9px 20px;
    line-height: 1.2;
}

.tbl_member .txt1 {
    padding: 0 0 0 14px;
    text-indent: -14px;
    line-height: 1.3;
}

.paging {
    height: 31px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px
}

.paging .first,
.paging .prev,
.paging .prev2,
.paging .next,
.paging .next2,
.paging .last {
    width: 34px;
    height: 31px;
    padding: 0;
    line-height: 0;
    font-size: 0;
    text-indent: -99px;
}

.paging .first {
    margin-right: 0;
    background: url("../board/btn_p_first.gif") no-repeat 0 0;
}

.paging .prev {
    width: 35px;
    margin-right: 10px;
    background: url("../board/btn_p_prev.gif") no-repeat 0 0;
}

.paging .prev2 {
    background: url("../board/btn_p_prev2.gif") no-repeat 0 0;
}

.paging .next {
    width: 35px;
    margin-left: 16px;
    background: url("../board/btn_p_next.gif") no-repeat 0 0;
}

.paging .next2 {
    background: url("../board/btn_p_next2.gif") no-repeat 0 0;
}

.paging .last {
    background: url("../board/btn_p_last.gif") no-repeat 0 0;
}

.paging .first:hover,
.kcci_paging .prev:hover,
.kcci_paging .next:hover,
.kcci_paging .last:hover,
.paging .first:focus,
.kcci_paging .prev:focus,
.kcci_paging .next:focus,
.kcci_paging .last:focus {
    line-height: 0;
    font-size: 0;
    border: none;
}

.paging strong,
.paging a {
    display: inline-block;
    height: 31px;
    padding: 0 4px;
    line-height: 31px;
    font-size: 13px;
    color: #000;
    vertical-align: middle;
    text-align: center;
}

.paging a {
    cursor: pointer;
}

.paging strong {
    color: #389c38;
    font-size: 17px;
    font-weight: bold;
}

.paging a:hover,
.paging a:focus {
    text-decoration: underline;
}